@charset "utf-8";

/******** 全体設定 ********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "ヒラギノ角ゴ ProN", Meiryo, sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5; 
  color: #333;
}

img {
  display: block;
}

h2, h3 {
  text-align: center;
}

/******** ヘッダ－ ********/

header img {
  width: 170px;
  margin: 0 auto;
}

/******** メインビジュアル ********/
.mv-area img {
  width: 100%;
}

/******** section共通 ********/
section {
  width: 100%;
  padding: 50px 0;
}

section:nth-of-type(even) {background-color: #ffc2cb;}

.section-inner {
  width: 60%;
  margin: 0 auto;
}
h2 {
  margin-bottom: 5px;
}

.title-line {
  margin: auto;
  width: 3em;
  height: 0.5em;
  background-color: #3eb6bd;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 40px;
}

/******** コンセプト ********/
.concept-text {
  text-align: center;
}

/******** おすすめ ********/
ul li {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  list-style: none;
}

ul li::before {
  content: url(../img/check.png);
  margin-right: 4px;
  vertical-align: middle;
}

/******** 講師 ********/
.two-colum {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.colom-left {
  width: 50%;
}

.teacher-name {
  text-align: left;
}

.teacher-img {
  border-radius: 999px;
}

/******** スケジュール ********/
.schedule-text {
  font-size: 20px;
  line-height: 2;
}

table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff;
}
th, td {
  padding: 1em;
  border: 1px solid #3d5a6d;
  color: #3d5a6d;
}
th {
  background-color: #fbfcec;
}

/******** フォーム ********/
form {
  width: 80%;
  margin: 0 auto;
}
form dt {
  margin-bottom: 20px;
}

form dt::before {
  content: "◆";
  margin-right: 10px;
}
form dd {
  margin-bottom: 40px;
  margin-left: 0;
}
input, textarea {
  width: 100%;
  padding: .5em;
  font-size: 1.1em;
}
input[type="radio"] {
  width: 1em;
  margin-left: 24px;
  margin-right: 4px;
}
button[type="submit"] {
  background-color: #3eb6bd;
  margin: 40px auto 0;
  display: block;
  width: 70%;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  border-bottom: 4px solid #333;
}

/******** フッター ********/
footer {
  padding: 20px;
  text-align: center;
  font-size: .9em;
}

address, small {
  margin-bottom: 10px;
  color: #2f4858;
}

.form-img-area img {
  width: 100%;
}


/******** レスポンシブ対応 ********/
@media screen and (max-width: 767px) {
  .section-inner {
    width: 80%;
  }

  /******** 講師 ********/
  .two-colum {
    flex-wrap: wrap;
  }
  .colom-left {
    width: 100%;
  }
  .teacher-name {
    text-align: center;
  }

  /******** スケジュール ********/
  table {
    width: 100%;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
  td {
    text-align: center;
  }

  /******** 申し込み ********/
  input[type="radio"]:first-child {
    margin-left: 0;
  }
}